<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form method="post">
        <div class="form-group">
          <input type="text" name="firstName" />
        </div>
        <div class="form-group">
          <input type="text" name="lastName" id="" />
        </div>
        <div class="form-group">
          <input type="email" name="email" id="" />
        </div>
        <div class="form-group">
          <input type="password" name="password" id="" />
        </div>

        <button type="submit">sign up</button>
      </form>
    </div>
  </body>
</html>
